.experiencia__caixa {
    display: flex;
}
.experiencia__info {
    display: flex;
    flex-direction: column;
}
.experiencia__description {
    display: flex;
}
.experiencia__botao--repo {
    display: flex;
}
.experiencia__botao--demo {
    display: flex;
}
.experiencia__botao--repo:hover {
    cursor: pointer;
    -moz-box-shadow: 0px 5px 5px #636379;
    -webkit-box-shadow: 0px 5px 5px #636379;
}
.experiencia__botao--demo:hover {
    cursor: pointer;
    -moz-box-shadow: 0px 5px 5px #636379;
    -webkit-box-shadow: 0px 5px 5px #636379;
}

/*mobile*/
@media screen and (min-width: 0) {
    .experiencia__caixa {
        flex-direction: column;
        gap: 16px;
    }
    .experiencia__img {
        height: 144px;
        width: 296px;
    }
    .experiencia__info {
        gap: 8px;
    }
    .experiencia__titulo {
        font-weight: 700;
        font-size: 16px;
        line-height: 18.78px;
    }
    .experiencia__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 16.44px;
    }
    .experiencia__description {
        gap: 16px;
    }
    .experiencia__botao--repo {
        border: 1px solid #2A7AE4;
        color: #2A7AE4;
        display: flex;
        font-size: 16px;
        font-weight: 600;
        gap: 10px;
        line-height: 16.44px;
        padding: 12px 16px 12px 16px;
    }
    .experiencia__botao--demo {
        background-color: #2A7AE4;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 600;
        gap: 10px;
        line-height: 16.44px;
        padding: 12px 16px 12px 16px;
        border: 1px solid #2A7AE4;
    }
    
}
/* tablet */
@media screen and (min-width: 768px) {
    .experiencia__caixa {

    }
    .experiencia__img {
        height: 144px;
        width: 296px;
    }
}
/* desktop*/
@media screen and (min-width: 1024px) {
    .experiencia__caixa {

    }
} 