
.experiencia {
    flex-direction: column;
    display: flex;
    padding: 32px;
    gap: 16px;
}

.experiencia__seção__titulo {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
}

/*mobile*/
@media screen and (min-width: 0) {

}
/* tablet */
@media screen and (min-width: 768px) {
    
}
/* desktop*/
@media screen and (min-width: 1024px) {
    .experiencia {
        gap: 32px;
    }
    .experiencia__seção__titulo {
        font-weight: 700;
        font-size: 32px;
        line-height: 37.57px;
    }
} 