
.experiencia {
    flex-direction: column;
    display: flex;
}

.experiencia__seção__titulo {
    text-align: center;
}

/*mobile*/
@media screen and (min-width: 0) {
    .experiencia {
        padding: 32px;
        gap: 16px;
    }
    .experiencia__seção__titulo {
        font-weight: 700;
        font-size: 22px;
        line-height: 25.83px;
    }
}
/* tablet */
@media screen and (min-width: 768px) {
    
}
/* desktop*/
@media screen and (min-width: 1024px) {
    
} 