.skills__titulo {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
              /* MOBILE */
@media screen and (min-width: 0) {
    
}
              /* TABLET */
@media screen and (min-width: 768px) {
    
}
              /* DESKTOP */
@media screen and (min-width: 1024px) {
    
}