.skills__caixa {
    background: var(--branco);
    display: flex;
    gap: 8px;
    padding: 16px;
    transition: 0.5s;
    Width: 156px;
}
.skills__caixa:hover {
    background: var(--cor-azul-claro);
    border-radius: 5%;
    -moz-box-shadow: 0px 20px 20px #86CEEB;
    -webkit-box-shadow: 0px 20px 20px #86CEEB;
}
.skills__img {
    display: flex;
    justify-content: center;
}
.skills__nome {
    color: #464646;
    font-weight: 700;
    margin-top: 16px;
    text-align: center;
}
              /* MOBILE */
@media screen and (min-width: 0) {

}
              /* TABLET */
@media screen and (min-width: 768px) {
    .skills__caixa {
        Width: 156px;
    }
}
              /* DESKTOP */
@media screen and (min-width: 1024px) {
    .skills__caixa {
        Width: 224px;
    }
}