.skills__caixa {
    background: var(--branco);
    padding: 16px;
    Height: 80px;
    Width: 80px;
    
}
.skills__caixa:hover {
    background: var(--cor-azul-claro);
    Height: 82px;
    Width: 82px;
}
.skills__img {
    display: flex;
    justify-content: center;
}
.skills__nome {
    font-weight: 700;
    margin-top: 16px;
    text-align: center;
}