/*mobile*/
@media screen and (min-width: 0) {
    .menu {
        align-items: center;
        display: flex;
        padding: 16px;
        justify-content: space-between;
    }
    .menu__contato a {
        font-weight: 400;
    }
}
/* tablet */
@media screen and (min-width: 768px) {
    .menu {
        display: flex;
        justify-content: space-between;
        padding: 16px 32px 16px 32px;
    }
    .menu__contato a {
        font-weight: 700;
    }
}
/* desktop*/
@media screen and (min-width: 1024px) {
    .menu {
        display: flex;
        justify-content: space-between;
        margin: 0 32px 0 32px;
        padding: 32px 0 32px 0;
    }
}