.menu__cabecalho {
    display: flex;
    align-items: center
}
.menu__titulo {
    font-weight: 700;
}
/*mobile*/
@media screen and (min-width: 0) {
    .menu__cabecalho {
        display: flex;
        align-items: center;
        gap: 8px; 
    }
    .menu__titulo {
        margin-right: 5vh;
    }
}
/* tablet */
@media screen and (min-width: 768px) {
    .menu__cabecalho {
        display: flex;
        align-items: center;
        gap: 8px; 
    }
}
/* desktop*/
@media screen and (min-width: 1024px) {
    
} 