.menu__cabecalho {
    display: flex;
    align-items: center;
}
.menu__titulo {
    font-weight: 700;
}
/*mobile*/
@media screen and (min-width: 0) {
    
}
/* tablet */
@media screen and (min-width: 768px) {
    
}
/* desktop*/
@media screen and (min-width: 1024px) {
    
}