.formcontato__contacto {
    background-color: lightskyblue;
}
.formcontato {
    display: flex;
    background: var(--cor-azul-claro);
    margin-top: 10px;
    padding: 32px;
    gap: 10px;
}
.formcontato__contacto {
    display: flex;
    gap: 32px;
}
.form__topo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.formcontato__titulo {
    color: #464646;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
}
.formcontato__texto {
    color: #464646;
    margin-left: 10px;
}
.formcontato__subtexto {
    color: #464646;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
}
/*mobile*/
@media screen and (min-width: 0) {
    .formcontato {
        width: 360px;
    }
    .formcontato__contacto {
        gap: 16px;
    }
    .formcontato__img {
        display: none;
    }
}
/* tablet */
@media screen and (min-width: 768px) {
    .formcontato__img {
        display: none;
    }
    .formcontato__contacto {
        gap: 16px;
    }
    .formcontato {
        width: 100%;
    }
}
/* desktop*/
@media screen and (min-width: 1024px) {
    .formcontato__img {
        display: block;
    }
    .formcontato {
        padding: 64px;
    }
    .formcontato__contacto {
        gap: 16px;
    }
    .formcontato__titulo {
        font-size: 32px;
        font-weight: 700;
        line-height: 37.57px;
    }
}
.formcontato__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.formcontato__input {
    border-radius: 5px;
    gap: 8px;
    width: 286px;
    height: 56px;
    display: flex;
    position: relative;
    padding: 0 12px 0 12px;
    top: 8px;
    -moz-box-shadow: 0px 5px 5px #636379;
    -webkit-box-shadow: 0px 5px 5px #636379;
}

.formcontato__textarea {
    border-radius: 4px;
    width: 296px;
    height: 133px;
    gap: 8px;
    display: flex;
    -moz-box-shadow: 0px 5px 5px #636379;
    -webkit-box-shadow: 0px 5px 5px #636379;
}
.formcontato__botao {
    background: #2a7ae4;
    color: white;
    height: 51px;
    margin-top: 20px;
    padding: 16px;
    width: 165px;
    -moz-box-shadow: 0px 5px 5px #636379;
    -webkit-box-shadow: 0px 5px 5px #636379;
}
.formcontato__botao:hover {
    background: #636379;
    color: black;
}
/*mobile*/
@media screen and (min-width: 0) {
    .formcontato__input {
        border-radius: 4px;
        display: flex;
        gap: 8px;
        height: 56px;
        width: 286px;
        -moz-box-shadow: 0px 5px 5px #636379;
        -webkit-box-shadow: 0px 5px 5px #636379;
    }
}
/* tablet */
@media screen and (min-width: 768px) {
    
}
/* desktop*/
@media screen and (min-width: 1024px) {
    
}