.titulo {
    display: flex;
}

              /* MOBILE */
@media screen and (min-width: 0) {
    .titulo {
        gap: 16px;
        padding: 16px;
    }
}
              /* TABLET */
@media screen and (min-width: 768px) {
    .titulo {
        gap: 32px;
        padding: 32px;
    }
}
              /* DESKTOP */
@media screen and (min-width: 1024px) {
    .titulo {
        justify-content: space-between;
        padding: 0;
        gap: 0;
    }
}