/* AJUSTA FOTO, TITULO E BIO COMO UM TODO */

              /* MOBILE */
@media screen and (min-width: 0) {

}
              /* TABLET */
@media screen and (min-width: 768px) {
    .titulo__div {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin: 5%;
    }
}
              /* DESKTOP */
@media screen and (min-width: 1024px) {
    .titulo__div {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin: 5%;
    }
}