.titulo__div {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 5%;
}
@media screen and (max-width: 767px) {
    .titulo__div {
        flex-direction: column;
        width: 109%;
        height: 294px;
    }
    
}