.titulo__profile {
    height: 368px;
    width: 368px;
    margin-left: 100px;
}
.titulo__bio {
    margin-top: 30px;
    font-weight: 700;
    font-size: 52px;
}
.titulo__subseção {
    margin-top: 24px;
    font-size: 22px;
}
/* mobile */
@media screen and (max-width: 767px) {
    .titulo__subseção{
        font-size: 14px;
    }
    .titulo__profile {
        height: 98px;
        width: 98px;
        margin-left: 100px;
        margin-right: 57vh;
    }
}


/* até 1023 tablet*/

@media screen and (max-width: 1023px) {
    .titulo__bio {
        font-size: 22px;
    }
    .titulo__profile {
        height: 146px;
        width: 146px;
        margin: 0 66px 0 0;
    }
}
