.titulo__social {
    display: flex;
}
.titulo__social__item {
    margin-top: 24px;
    margin-right: 32px;
}
.titulo__social__item:hover {
    font-weight: 700;
}

              /* MOBILE */
@media screen and (min-width: 0) {
    .titulo__social {
        display: flex;
        margin: 8px;
    }
    .titulo__social__item {
        font-size: 14px;
        font-weight: 600;
    }
}
              /* TABLET */
@media screen and (min-width: 768px) {
    
}
              /* DESKTOP */
@media screen and (min-width: 1024px) {
    
}