.titulo {
    display: flex;
}

              /* MOBILE */
@media screen and (min-width: 0) {
    .titulo {
        width: 26rem;
        gap: 16px;
        padding: 16px;
    }
}
              /* TABLET */
@media screen and (min-width: 768px) {
    .titulo {
        width: 57rem;
        gap: 32px;
        padding: 32px;
    }
}
              /* DESKTOP */
@media screen and (min-width: 1024px) {
    .titulo {

    }
}