/* AJUSTE DA FOTO DE PERFIL, TEXTO DE TITULO E SUBTITULO*/
.titulo__container {
    display: flex;
    flex-direction: column;
}
/* MOBILE */
@media screen and (min-width: 0) {
    .titulo__profile {
        height: 98px;
        width: 98px;
    }
    .titulo__container {
        gap: 16px;
    }
    .titulo__bio {
        font-size: 22px;
        font-weight: 700;
    }
    .titulo__subseção{
        font-size: 14px;
        line-height: 16.44px;
    }
}
              /* TABLET */
@media screen and (min-width: 768px) {
    .titulo__profile {
        height: 146px;
        width: 146px;
    }
    .titulo__container {
        gap: 8px;
    }
    .titulo__bio {
        font-size: 22px;
        font-weight: 700;
    }
}
              /* DESKTOP */
@media screen and (min-width: 1024px) {
    .titulo__profile {
        height: 368px;
        width: 368px;
        margin-left: 100px;
    }
    .titulo__container {
        gap: 24px;
    }
    .titulo__bio {
        font-weight: 700;
        font-size: 52px;
        line-height: 61.05px;
    }
    .titulo__subseção {
        font-size: 22px;
        line-height: 22.83px;
    }
}
