.hobbies__caixa {
    background: var(--branco);
    display: flex;
    padding: 16px;
    gap: 8px;
    transition: 0.5s;
}
.hobbies__caixa:hover {
    background: var(--cor-azul-claro);
    -moz-box-shadow: 0px 20px 20px #86CEEB;
    -webkit-box-shadow: 0px 20px 20px #86CEEB;
}
.hobbies__nome{
    color: #464646;
    margin-top: 16px;
    font-weight: 700;
    text-align: center;
}
              /* MOBILE */
@media screen and (min-width: 0) {
    .hobbies__caixa {
        Width: 156px;
    }
}
              /* TABLET */
@media screen and (min-width: 768px) {
    .hobbies__caixa {
        Width: 224px;
    }
}
              /* DESKTOP */
@media screen and (min-width: 1024px) {
    .hobbies__caixa {
        Width: 176px;
    }
}