.hobbies {
    flex-direction: column;
    display: flex;
    gap: 32px;
}
              /* MOBILE */
@media screen and (min-width: 0) {
    .hobbies {
        padding: 16px;
    }
}
              /* TABLET */
@media screen and (min-width: 768px) {
    .hobbies {
        padding: 32px;
    }
}
              /* DESKTOP */
@media screen and (min-width: 1024px) {
    .hobbies {
        padding: 0;
    }
}