.hobbies__caixa {
    background: var(--branco);
    margin: 32px;
    padding: 2%;
    Width: 86px;
    transition: 0.5s;
}
.hobbies__caixa:hover {
    background: var(--cor-azul-claro);
    -moz-box-shadow: 0px 20px 20px #86CEEB;
    -webkit-box-shadow: 0px 20px 20px #86CEEB;
}
.hobbies__img {
    display: flex;
    justify-content: center;
}
.hobbies__nome{
    margin-top: 16px;
    font-weight: 700;
    text-align: center;
}