.formcontato__form {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}
.formcontato__input {
    margin-top: 8px;
    height: 50px;
    padding: 0 35px;
    width: 83%;
    -moz-box-shadow: 0px 5px 5px #636379;
    -webkit-box-shadow: 0px 5px 5px #636379;
}
.formcontato__textarea {
    margin-top: 8px;
    height: 133px;
    padding: 32px;
    width: 84%;
    -moz-box-shadow: 0px 5px 5px #636379;
    -webkit-box-shadow: 0px 5px 5px #636379;
}
.formcontato__botao {
    background: #2a7ae4;
    color: white;
    height: 51px;
    margin-top: 20px;
    padding: 16px;
    width: 165px;
    -moz-box-shadow: 0px 5px 5px #636379;
    -webkit-box-shadow: 0px 5px 5px #636379;
}
.formcontato__botao:hover {
    background: #636379;
    color: black;
}