.formcontato {
    background: var(--cor-azul-claro);
    margin-top: 10px;
    padding: 64px;
}
.formcontato__contacto {
    display: flex;
}

.formcontato__texto {
    color: #464646;
    margin-left: 10px;
}
.formcontato__subtexto {
    color: #464646;
    line-height: 18.78px;
}
.formcontato__titulo {
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
}
/*mobile*/
@media screen and (min-width: 0) {
    .formcontato__img {
        display: none;
    }
}
/* tablet */
@media screen and (min-width: 768px) {
    .formcontato__img {
        display: none;
    }
}
/* desktop*/
@media screen and (min-width: 1024px) {
    .formcontato__img {
        display: block;
    }
}
