.formcontato__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.formcontato__input {
    border-radius: 5px;
    gap: 8px;
    width: 286px;
    height: 56px;
    display: flex;
    position: relative;
    padding: 0 12px 0 12px;
    top: 8px;
    -moz-box-shadow: 0px 5px 5px #636379;
    -webkit-box-shadow: 0px 5px 5px #636379;
}

.formcontato__textarea {
    border-radius: 4px;
    width: 296px;
    height: 133px;
    gap: 8px;
    display: flex;
    -moz-box-shadow: 0px 5px 5px #636379;
    -webkit-box-shadow: 0px 5px 5px #636379;
}
.formcontato__botao {
    background: #2a7ae4;
    color: white;
    height: 51px;
    margin-top: 20px;
    padding: 16px;
    width: 165px;
    -moz-box-shadow: 0px 5px 5px #636379;
    -webkit-box-shadow: 0px 5px 5px #636379;
}
.formcontato__botao:hover {
    background: #636379;
    color: black;
    cursor: pointer;
}
/*mobile*/
@media screen and (min-width: 0) {
    .formcontato__input {
        border-radius: 4px;
        display: flex;
        gap: 8px;
        height: 56px;
        width: 286px;
        -moz-box-shadow: 0px 5px 5px #636379;
        -webkit-box-shadow: 0px 5px 5px #636379;
    }
}
/* tablet */
@media screen and (min-width: 768px) {
    
}
/* desktop*/
@media screen and (min-width: 1024px) {
    
}