@use '../abstract/variaveis.scss' as v;
@use '../abstract/mixin' as m;

.about {
    @include m.flex-layout($direction: column, $gap: 1rem);
    background-color: light-dark(v.$color-secondary-bd, v.$dark-color-quaternary-bd);
    padding: v.$spacing-lg v.$spacing-md;

    .about__title {
        color: light-dark(v.$color-primary-text, v.$dark-color-primary-text);
        font-size: v.$size-text-title-m;
        font-weight: v.$weight-bold;
    }

    .about__text {
        color: light-dark(v.$color-primary-text, v.$dark-color-primary-text);
        font-size: v.$size-text-text-m;
        line-height: 1.125rem;
    }
}

/* Tablet */
@media screen and (min-width: v.$breakpoint-tablet) {
    .about {
        justify-content: center;
        padding: 2rem;
        margin-bottom: 3rem;
        height: 500px;

        .about__title {
            font-size: 3rem;
            padding: v.$spacing-xs;
        }
    }
}

/* Desktop */
@media screen and (min-width: v.$breakpoint-desktop) {
    .about {
        padding: v.$spacing-xl;

        .about__text {
            font-size: v.$size-text-text-d;
        }
    }
}

@media screen and (min-width: v.$breakpoint-desktop) {
    .about {
        .about__title {
            font-size: v.$size-text-supertitle-d;
        }
        .about__text {
            font-size: v.$size-text-subtitle-d;
            line-height: 1.875rem;
        }
    }
}