@use '../abstract/variaveis.scss' as v;
@use '../abstract/mixin' as m;

.form {
    // @include m.flex-layout($justify: center, $gap: 1rem);
    background-color: light-dark(v.$color-secondary-bd, v.$dark-color-secondary-bd);
    padding: 2rem;

    .form__img {
        display: none;
    }

    .form__content {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .form__presentation {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            .form__title {
                color: light-dark(v.$color-primary-text, v.$dark-color-primary-text);
                font-size: v.$size-text-title-m;
                font-weight: 700;
            }

            .form__text {
                color: light-dark(v.$color-primary-text, v.$dark-color-primary-text);
                font-size: v.$size-text-subtitle-m;
                font-weight: 500;
            }
        }

        .form__inputs {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .input__box {
                position: relative;

                .form__input {
                    border: none;
                    padding: 1.25rem 0.75rem;
                    width: 296px;
                    border-radius: .25rem;
                    border-bottom: 1px solid v.$color-placeholder-text;

                    &:focus {
                        border-bottom: 2px solid v.$color-placeholder-text;
                        outline: none;
                    }

                    &:not(:placeholder-shown)~.placeholder {
                        transition: 0.5s;
                        font-size: v.$size-placeholder-text;
                        top: 8%;
                        left: 2%;
                    }

                    &:focus~.placeholder {
                        transition: 0.5s;
                        font-size: v.$size-placeholder-text;
                        top: 8%;
                        left: 2%;
                    }

                    &:focus~.placeholder__email {
                        color: v.$color-placeholder-email-text;
                    }

                    &:not(:placeholder-shown)~.placeholder__textarea {
                        top: 3%;
                    }
                }

                .form__input__email:focus {
                    border-bottom: 2px solid v.$color-placeholder-email-text;
                }

                .placeholder {
                    color: light-dark(v.$color-placeholder-text, v.$dark-color-placeholder-text);
                    left: 5%;
                    position: absolute;
                    top: 32%;
                }

                .placeholder__textarea {
                    top: 12%;
                }
            }
        }

        .glow-on-hover {
            @include m.glow-on-hover();
        }
    }
}

@media screen and (min-width: v.$breakpoint-tablet) {
    .form__input {
        width: 704px;
    }
}

@media screen and (min-width: v.$breakpoint-desktop) {

    .form {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        .form__img {
            display: block;
            animation: reveal 1ms ease-in-out both;
            animation-timeline: view();
            animation-range: entry 25% cover 50%;
        }

        .form__content {
            align-items: flex-start;
            justify-content: space-between;
            width: 728px;
        }
    }
}

@media screen and (min-width: v.$breakpoint-large) {
    .form {
        justify-content: center;
    }
}

@keyframes reveal {
    from {
        opacity: 0;
        clip-path: inset(45% 20% 45% 20%);
    }

    to {
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);
    }
}

/* Btn */
@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}