@import url('../abstract/variaveis.css');

.about {
    background-color: light-dark(var(--color-secondary-bd), var(--dark-color-quaternary-bd));
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.about__title {
    color: light-dark(var(--color-primary-text), var(--dark-color-primary-text));
    font-size: var(--size-text-title-m);
    font-weight: 700;
}

.about__text {
    color: light-dark(var(--color-primary-text), var(--dark-color-primary-text));
    font-size: var(--size-text-text-m);
    line-height: 1.125rem;
}

/* Tablet */
@media screen and (min-width: 768px) {
    .about {
        padding: 2rem;
    }
}

/* Desktop */
@media screen and (min-width: 1440px) {
    .about {
        padding: 4rem;
    }

    .about__text {
        font-size: var(--size-text-text-d);
    }
}