@import url('../abstract/variaveis.css');

.footer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
    padding: 2rem;
    background-color: light-dark(var(--color-tertiary-bd), var(--dark-color-secondary-bd));
}

.footer span {
    color: light-dark(var(--color-primary-text), var(--dark-color-primary-text));
    font-size: var(--size-text-subtitle-m);
    font-weight: 500;
}
