@import url('../abstract/variaveis.css');

/* Cabeçalho */
.header__container {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    padding: 1rem;
}

.header__logo {
    align-items: center;
    display: flex;
    gap: .5rem;
}

.header__title {
    color: light-dark(var(--color-primary-text), var(--dark-color-primary-text));
    cursor: var(--cursorText), auto;
    font-weight: 700;
}

/* Links de navegação */
.link__item {
    display: none;
}

.menu__contato {
    display: block;
}

.menu__contato a {
    color: light-dark(var(--color-primary-text), var(--dark-color-primary-text));
    cursor: var(--cursorText), auto;
    font-size: var(--size-text-text-m);
    font-weight: 400;
}

/* Versão tablet */
@media screen and (min-width: 768px) {

    .header__container {
        padding: 1rem 2rem;
    }

    .menu__contato a {
        font-weight: 700;
        font-size: 1rem;
    }

}

/* Versão desktop */
@media screen and (min-width: 1440px) {

    .header__container {
        padding: 2.125rem 9.5rem;
    }

    .links {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .link__item {
        display: flex;
        font-weight: 500;
    }

    .link__item a {
        cursor: var(--cursorBtn), auto;
    }

    .link__item:hover {
        font-weight: 700;
        text-decoration: underline .25rem;
    }
}