@import url('../abstract/variaveis.css');

.presentation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.presentation__profile {
    width: 98px;
}

.presentation__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.presentation__title {
    color: light-dark(var(--color-primary-text), var(--dark-color-primary-text));
    font-size: var(--size-text-title-t-m);
    font-weight: 700;
}

.presentation__text {
    color: light-dark(var(--color-primary-text), var(--dark-color-primary-text));
    font-size: var(--size-text-text-m);
}

.presentation__text strong {
    font-weight: 700;
}

.presentation__links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-around;
}

.presetation__link__item {
    color: light-dark(var(--color-primary-text), var(--dark-color-primary-text));
    cursor: var(--cursorCursor), auto;
    font-size: var(--size-text-text-m);
}

.presetation__link__item a {
    cursor: var(--cursorBtn), auto;
}

.presetation__link__item a:hover {
    font-weight: 900;
}


/* TABLET */
@media screen and (min-width: 768px) {
    .presentation {
        align-items: center;
        flex-direction: row-reverse;
        padding: 2rem 2.5rem;
    }

    .presentation__profile {
        width: 146px;
    }

    .presentation__text {
        font-size: 1rem;
    }

    .presetation__link__item {
        font-size: var(--size-text-subtitle-m);
    }

    .presetation__link__item a:hover {
        color: var();
    }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {

    .presentation {
        padding: 2rem 9.5rem;
    }

    .presentation__profile {
        width: 368px;
    }

    .presentation__title {
        font-size: var(--size-text-supertitle-d);
    }

    .presentation__text {
        font-size: var(--size-text-subtitle-d);
    }

    .presentation__links {
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: flex-start;
    }
    
}