@import url('../abstract/variaveis.css');

.skills {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.skills__title {
    color: light-dark(var(--color-primary-text), var(--dark-color-primary-text));
    font-size: var(--size-text-title-m);
    font-weight: 700;
}

.skills__content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.skill__box {
    animation: reveal 1ms ease-in-out both;
    animation-timeline: view();
    animation-range: entry 25% cover 50%;
    align-items: flex-start;
    background-color: light-dark(var(--color-tertiary-bd), var(--dark-color-tertiary-bd));
    border: 1px solid light-dark(var(--color-tertiary-text), var(--dark-color-primary-text));
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: 118px;
    justify-content: flex-end;
    padding: 1rem;
    width: 124px;
}

.skills__name {
    color: light-dark(var(--color-primary-text), var(--dark-color-primary-text));
    font-size: var(--size-text-subtitle-m);
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .skill__box {
        width: 202px;
    }
}

@media screen and (min-width: 1440px) {
    .skills__title {
        font-size: var(--size-text-title-d);
    }
}

@keyframes reveal {
    from {
        opacity: 0;
        clip-path: inset(45% 20% 45% 20%);
    }

    to {
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);
    }
}