.academico__curso__caixa {
    background: var(--branco);
    Height: 210px;
    margin: 32px 32px 0 0;
    text-align: center;
    transition: .5s;
    Width: 210px;
}
.academico__curso__caixa:hover {
    background: var(--cor-azul-claro);
    border: black solid 1px;
    border-radius: 5%;
    Height: 211px;
    Width: 211px;
}
