.academico__curso__caixa {
    display: flex;
    background: var(--branco);
    gap: 10px;
    padding: 16px;
    text-align: center;
    transition: .5s;
    Width: 210px;
}
    
.academico__curso__caixa:hover {
    background: var(--cor-azul-claro);
    border-radius: 5%;
    -moz-box-shadow: 0px 20px 20px #86CEEB;
    -webkit-box-shadow: 0px 20px 20px #86CEEB;
}
              /* MOBILE */
@media screen and (min-width: 0) {
    
}
              /* TABLET */
@media screen and (min-width: 768px) {
    
}
              /* DESKTOP */
@media screen and (min-width: 1024px) {
    
}
